<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 class="head">**Checkerboard**</h1>
    <table>

        {% for i in range(length): %}
            <tr>
                {% for j in range(width): %}
                    <td class="col{{ (i+j)%2}}"></td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
</body>
</html>